/* Variable Colors */

:root {
  --main-color: #14af00;
  --main-text-color: #ccffbc;
  --border-color: #999;
  --bio-bg-color: #280038;
  --bio-border-color: #78007c;
  --about-bg-color: #111821;
}

/* General */

* {
  padding: 0;
  margin: 0;
  font-family: /* Roboto */ sans-serif;
  box-sizing: border-box;
}

.highlight {
  color: var(--main-color);
}

/* Main Container */

#container {
  display: flex;
  flex-direction: row;
  color: var(--main-text-color);
}

/* Bio Container (Sidebar) */

#bio-container {
  flex: 1 1 20%;
  min-height: 100vh;
  background-color: var(--bio-bg-color);
  text-align: center;
  padding: 30px 12px;
  border-right: 5px solid var(--bio-border-color);
}

#bio-container-title {
  margin-bottom: 25px;
}

#bio-container #welcome-text {
  font-weight: bold;
}

#bio-container p {
  margin-bottom: 20px;
}

#bio-container-icon {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 25px;
}

/* Social Container */

#social-container {
  display: flex;
  justify-content: center;
  list-style: none;
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

#social-container li {
  flex: 1 1 0;
  max-width: 60px;
}

#social-container li a {
  color: var(--main-color);
  font-size: 30px;
  text-decoration: none;
}

/* Contact */

.contact {
  margin: 15px auto;
}

.contact,
.contact a {
  display: flex;
  justify-content: center;
}

.contact a,
.contact i {
  flex: 1 1 0;
}

.contact a {
  color: var(--main-text-color);
  text-decoration: none;
  max-width: 225px;
}

.contact span {
  color: var(--main-color);
  font-size: 20px;
  margin-right: 10px;
  max-width: 20px;
}

/* About Container */

#about-container {
  flex: 1 1 80%;
  min-height: 100vh;
  background-color: var(--about-bg-color);
  padding: 50px;
}

#about-container #name {
  font-size: 42px;
  margin-bottom: 15px;
}

#about-container #title {
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: bold;
}

#about-container .description {
  max-width: 75%;
  margin-bottom: 10px;
}

#about-container #btn-projects {
  font-weight: bold;
  font-size: 16px;
  color: var(--main-text-color);
  background-color: var(--main-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  margin: 25px 0;
  padding: 12px 10px;
  width: 150px;
  text-align: center;
  display: flex;
}

#about-container #btn-projects span,
#about-container #btn-projects i {
  flex: 1 1 0;
}

#about-container #btn-projects i {
  font-size: 30px;
  max-width: 30px;
}

#about-container #btn-projects:hover {
  background-color: transparent;
}

/* Skills */

.section-title {
  border-top: 1px solid var(--border-color);
  padding-top: 20px;
  margin-bottom: 20px;
  font-size: 32px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 25px;
}

.skills-container p {
  margin: 10px auto;
  display: flex;
  align-items: center;
}

#skills-box {
  /* Defined for 3 blocks in a row */
  flex: 1 1 33%;
  max-width: 33%;
  margin-bottom: 35px;
}

.skills-title {
  font-size: 24px;
  margin-bottom: 25px;
  font-weight: bold;
  padding-left: 10px;
  border-left: 5px solid var(--main-color);
}

.skills-box i, .skills-box svg {
  font-size: 45px;
  margin-right: 10px;
}

.skills-container.last {
  margin-bottom: 25px;
}

/* Projects */

.project {
  margin: 20px auto;
}

.project a,
.project a:visited {
  color: var(--main-color);
  font-weight: bold;
  font-size: 24px;
}

.project a img {
  margin-top: 10px;
  max-width: 60%;
}

/* Responsiveness */

@media (max-width: 450px) {
  #container {
    flex-direction: column;
  }

  #bio-container {
    min-height: auto;
    border-right: none;
    border-bottom: 5px solid var(--bio-border-color);
  }

  #bio-container h2 {
    display: none;
  }

  #bio-container p {
    max-width: 60%;
    margin: 10px auto;
  }

  #about-container {
    text-align: center;
    padding: 30px;
  }

  #about-container .description {
    margin: 10px auto;
    max-width: 100%;
    line-height: 26px;
  }

  #about-container #btn-projects {
    margin: 20px auto;
  }

  #about-container .skills-box {
    flex: 1 1 100%;
    max-width: 100%;
    margin-bottom: 40px;
    text-align: left;
  }

  #about-container .skills-box {
    font-size: 36px;
  }

  .project a img {
    max-width: 95%;
  }
}
